/* CSS files add styling rules to your content */

body {
  font-style: bold;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color:rgb(71,116,188);
  background-image: url("");
  color: white;
}

h1 {
  font-style: italic;
  color: white;
  text-align:center;
  border: double 10px;
  font-family: 'Monoton', cursive;
}

a.baking-button {
  background-color: pink;
  color: black;
  padding: 5px;
  text-decoration: none;
}
p.health{
  text-align:center;
}
.health{
 justify-content:space-between;
}
h2{
  text-align:center;
  font-style: italic;
  color: white;
  border: double 10px;
  font-family: 'Monoton', cursive;
}
#mama{
  background-color: red;
  padding: 5px;
  color: white;
  text-decoration: none;
}
#health{
background-color: blue;
  padding: 5px;
  color: white;
  text-decoration: none;
}
#sports{
  background-color: orange;
  padding: 5px;
  color: white;
  text-decoration: none;
}
 #music{
  background-color: rgb(15, 219, 185);
  padding: 5px;
  color: white;
  text-decoration: none;
}
#Sound{
  text-align:center;
  color: rgb(244, 66, 69)
}
#animals{
  background-color: rgb(127, 53, 224);
  padding: 5px;
  color: white;
  text-decoration: none;
}
#security{
  background-color: black;
  padding: 5px;
  color: skyblue;
  text-decoration: none;
}
